@import "tailwindcss";

@theme {
  --color-bgw-pink: #fa73c8;
  --color-bgw-purple: #ff9cff;
  --color-bgw-neon-blue: #11f2ee;
  --color-grey: #555555;
  --font-shrikhand: "Shrikhand", "sans-serif";
  --font-roboto: "Roboto", sans-serif;
}

body {
  font-family: "Roboto Variable", sans-serif;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}
