@import "tailwindcss";

@theme {
  --color-bgw-pink: #fa73c8;
  --color-bgw-purple: #ff9cff;
  --color-bgw-neon-blue: #11f2ee;
  --color-grey: #555555;
  --font-shrikhand: "Shrikhand", "sans-serif";
  --font-roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--font-mono);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 15px 2px var(--color-bgw-neon-blue);
  }
  50% {
    box-shadow: 0 0 30px 3px var(--color-bgw-neon-blue);
  }
}

.glow-animate {
  animation: glow 2s ease-in-out infinite;
}

james-watt-calling-card:hover {
  text-decoration: underline;
}
